<div class="logo text-center">
    <img width="300" height="200" src="https://as1.ftcdn.net/v2/jpg/03/00/42/80/1000_F_300428042_NkcHgUJLDNRK6WjzvTeaR2d5fdb69mMN.jpg">
</div>

<div class="registration-form m-3 p-5">
    <form [formGroup]="registerForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input formControlName="firstName" matInput placeholder="firstName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Last Name</mat-label>
                    <input formControlName="lastName" matInput placeholder="Last Name">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Email</mat-label>
                    <input formControlName="Email" matInput placeholder="Email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Mobile</mat-label>
                    <input formControlName="Mobile" matInput placeholder="Mobile">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Weight</mat-label>
                    <input type="number" formControlName="weight" matInput placeholder="weight">
                    <mat-icon matSuffix>line_weight</mat-icon>
                    <mat-hint>unit in kg</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Height</mat-label>
                    <input type="number" formControlName="height" matInput placeholder="height">
                    <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
                    <mat-hint>unit in meters</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-md-6" mt-3>
                <label id="example-radio-group-label">Do you require trainer?</label>
                <mat-radio-group formControlName="trainerOpt" class="example-radio-group">
                    <mat-radio-button  class="example-radio-button" *ngFor="let trainerOpt of ['Yes','NO']"
                        [value]="trainerOpt">
                        {{trainerOpt}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>selected option is: </div>
            </div>
            <div class="col-md-6" mt-3>
                <label id="example-radio-group-label">Gender</label>
                <mat-radio-group formControlName="gender" class="example-radio-group">
                    <mat-radio-button  class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
                        {{gender}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>selected Gender is: </div>
            </div>
            <div class="col-md-6" mt-4>
                <h4>select packages</h4>
                <mat-form-field appearance="fill">
                    <mat-label>packages</mat-label>
                    <mat-select formControlName="package">
                        <mat-option  *ngFor="let package of packages" [value]="package">
                            {{package}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6" mt-4>
                <h4>important lists</h4>
                <mat-form-field appearance="outline">
                    <mat-label>select</mat-label>
                    <mat-select formControlName="list">
                        <mat-option  *ngFor="let list of lists" [value]="list">
                            {{list}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6" mt-3>
                <label id="example-radio-group-label">Have been Gym before?</label>
                <mat-radio-group formControlName="haveGymBefore" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let beenGym of ['Yes','NO']"
                        [value]="beenGym">
                        {{beenGym}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>selected option is: </div>
            </div>
            
            <div class="col-md-6" mt-3>
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input formControlName="enquiryDate" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <button (click)='submit()'class="mt-4" mat-raised-button color="accent">submit</button>
    </form>
</div>